/gradle-ci.properties

log/
*.log
hs_err_pid*
java_pid*.hprof

# Maven:
target/

# Gradle:
build/
!**/src/**/build/
build-cache/
.gradle/

# NodeJS
/node_modules

# Intellij
/.idea/*
!/.idea/.editorconfig
!/.idea/checkstyle-idea.xml
!/.idea/externalDependencies.xml
!/.idea/groovyc.xml
!/.idea/jsonSchemas.xml
!/.idea/misc.xml
!/.idea/saveactions_settings.xml
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/*
!/.idea/jsLinters/
!/.idea/jsLinters/*
!/.idea/runConfigurations/
!/.idea/runConfigurations/*
!/.idea/scopes/
!/.idea/scopes/*
!/.idea/copyright/
!/.idea/copyright/*
!/.idea/dictionaries/
/.idea/dictionaries/*
!/.idea/dictionaries/.placeholder
*.iml
*.iws
*.*___jb_tmp___

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store
